PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/aduin
ML_KATEGORI_URL=https://keluhan-multilabel-classification-api-production.up.railway.app
ML_URGENSI_URL=https://destiys-urgensi-keluhan-api.hf.space
CORS_ORIGINS=
JWT_SECRET=your-secret-key
NODE_ENV=development
